/* #region BASE STYLES */

body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #434455;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

/* #endregion */

/* #region COMMON STYLES */

.section {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  } 
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .container {
    max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  } 
}

.section-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

/* #endregion */

/* #region HEADER */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 149px;
}

@media only screen and (min-width: 768px) {
    .navigation {
      gap: 120px;
    }
}

@media only screen and (min-width: 1158px) {
  .navigation {
      gap: 0;
  }
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer .logo {
  padding-top: 0;
  padding-bottom: 0;
}

@media only screen and (min-width: 1158px) {
    .logo {
      margin-right: 76px;
    }
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list {
    display: flex;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

@media only screen and (max-width: 767px) {
    .nav-list {
        display: none;
    }
}

.nav-link {
    color: inherit;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .nav-link:hover, .nav-list .nav-link:focus {
    color: #404bbf;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background: #404bbf;
    border-radius: 2px;
    width: 100%;
    height: 4px;
}

.nav-link.current {
    color: #404bbf;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}

@media only screen and (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}

.contacts {
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    margin-left: auto;
}

@media only screen and (max-width: 767px) {
    .contacts {
      display: none;
    }
}

@media only screen and (min-width: 1158px) {
  .contacts {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
  }
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
      flex-direction: row;
      gap: 40px;
      padding: 24px 0;
  }
}

.contacts-link {
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .contacts-link:hover, .contacts .contacts-link:focus {
    color: #404bbf;
}

/* #endregion */

/* #region HERO */

.section:first-child {
    background-color: #2e2f42;
    padding: 72px 52px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section:first-child {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .section:first-child {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
    max-width: 768px;
    padding: 112px 136px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab@2x.jpg);
        }
  }
}


@media only screen and (min-width: 1158px) {
  .section:first-child {
      display: flex;
      padding: 188px 0;
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desc.jpg);
      max-width: 1440px;

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desc@2x.jpg);
        }
  }
}

.main-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .main-title {
    min-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
    max-width: 496px;
  }
}

.hero-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover, .hero-button:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region ADVANTAGES */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.adv-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
  .adv-list {
     gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .adv-list {
      flex-wrap: nowrap;
      gap: 24px;
  }
}

.adv-list-item {
    width: 100%;
}

@media only screen and (min-width: 768px) {
  .adv-list-item {
      flex-basis: calc((100% - 24px)/2);
  }
}

@media only screen and (min-width: 1158px) {
  .adv-list-item {
      flex-basis: calc((100% - 72px)/4);
  }
}


.adv-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .adv-list-title {
      text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
  .adv-list-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 8px;
  }
}

.adv-list-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media only screen and (min-width: 1158px) {
  .adv-list-descr {
    font-weight: 400;
  } 
}

.adv-list-wrapper {
    display: none;
}

@media only screen and (min-width: 1158px) {
  .adv-list-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #8e8f99;
      border-radius: 4px;
      height: 112px;
      background: #f4f4fd;
      margin-bottom: 8px;
  }
}

/* #endregion */

/* #region OUR TEAM */

.section.team {
    background-color: #F4F4FD;
}

/* .section:nth-child(3) {
    background-color: #F4F4FD;
} */

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
      gap: 24px;
  }
}

.team-card-content {
    padding: 32px 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-list-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.team-list-item {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* width: calc((100% - 72px) / 4); */


.team-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    background-color: #4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: #f4f4fd;
}

.social-link:hover, .social-link:focus {
    background-color: #404bbf;
}



/* #endregion */

/* #region OUR PORTFOLIO */

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-list-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media only screen and (min-width: 320px) and (max-width: 1157px) {
  .portfolio-list-item {
      background: #fff;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

@media only screen and (min-width: 1158px) {
  portfolio-list-item {
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
    }
}

.portfolio-list-item:hover .portfolio-cover-text {
    transform: translateY(0);
}



.portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-content {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-list-img {
    max-width: 100%;
    height: auto;
}

.portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-cover-text {
    display: none;
}

@media only screen and (min-width: 1158px) {
  .portfolio-cover-text {
    display: block;
    position: absolute;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    height: 100%;
    top: 0;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  } 
}

/* #endregion */

/* #region FOOTER */

.footer {
    background: #2e2f42;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    padding-top: 96px;
    padding-bottom: 96px;
}

@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer .container {
    width: 584px;
  }
}

@media only screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer .container {
    flex-wrap: nowrap;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 0;
  }
}

.footer-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

@media only screen and (min-width: 768px) {
  .footer-descr {
    max-width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-descr-wrap {
    margin-right: 120px;
  }
}

.footer .logo {
    display: inline-block;
    margin-bottom: 16px
}

@media only screen and (max-width: 767px) {
  .footer .logo {
    display: block;
    text-align: center;
  }
}

.logo-studio-footer {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.social-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .social-descr {
    text-align: center;
  }
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

@media only screen and (min-width: 1158px) {
  .footer-social-list {
    margin-right: 80px;
  }
}

.footer .social-link:hover, .footer .social-link:focus {
    background-color: #31d0aa;
}   

.footer-form {
    display: flex;
    gap: 24px;
}

@media only screen and (max-width: 767px) {
  .footer-form {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.form-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
  .form-descr {
    text-align: center;
  }
}

.footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 8px 24px;
    width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover, .form-button:focus {
    background-color: #404bbf;
}

.form-button-icon {
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}


/* #endregion */

/* #region MODAL OVERLAY */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%) translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-close-btn {
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border;
    padding: 0;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #fff;
}

.modal-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-form-field {
    margin-bottom: 8px;
}


.modal-form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding: 11px 34px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 1158px) {
  .modal-form-input {
    padding: 11px 38px;
  }
}

.modal-form-input:focus {
    border-color: #4D5AE5;
}

.modal-form-input:focus + .modal-input-icon {
    fill: #4d5ae5;
}

.modal-input-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-wrap {
    position: relative;
}

.modal-form-text {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-text:focus {
    border-color: #4D5AE5;
}

.modal-form-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
}

.modal-form-comment {
  margin-bottom: 16px;
  height: 138px;
}

.privacy-policy-label {
  display: flex;
  align-items: center;
}

.privacy-policy-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill, border;
    flex-shrink: 0;
}

input[type="checkbox"]:checked + .privacy-policy-label .modal-form-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border: none;
}

.privacy-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;
}

.privacy-policy-wrap {
    margin-bottom: 24px;
}

.modal-form-button {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover, .modal-form-button:focus {
    background-color: #404bbf;
}

/* #endregion */

/* #region MOB MENU */

.menu-wrap {
  width: 100%px;
  height: 100%px;
  padding: 72px 24px 40px 16px;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  transition-property: opacity, visibility, transform;
  transform: translateX(100%);
}

@media only screen and (max-width: 767px) {
  .menu-wrap.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
  }
}

.menu-social {
  gap: 40px;
}

.menu-close-btn {
  background-color: transparent;
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: baseline;
  margin-bottom: 168px;
}

.menu-nav .nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  padding: 0;
}

.menu-nav .nav-link::after {
  display: none;
}

.menu-contacts {
  margin-bottom: 48px;
}

.menu-contacts-list {
  flex-direction: column;
  gap: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
  padding: 0;
}

.menu-contacts-link {
  color: #4d5ae5;
}


/* #endregion */